<title><%= user.escape('username') %>s' Profile</title>

<strong><%= user.escape('username') %></strong>
<br>
Posts: <%= this.model.posts().length %>
<br>
Followers: <%= this.model.escape('num_followers') %>
<br>
Following: <%= this.model.escape('num_followees') %>
<br>

<div class="user_options">
</div>

<br><br> <!-- if user is followed, display posts here, otherwise show follow button -->
<ul class="user_posts">
</ul>
