<title><%= user.escape('username') %>s' Profile</title>

<div class="backdrop">

  <section class="top group">

    <section class="middle group">

      <section class="user-pic">
        <img src="<%= user.attributes.picture_url %> " alt="error"/>
      </section>

      <div class="username">
        <%= user.escape('username') %>
      </div>

      <section id="follow-button"></section>

      <table class="text">
        <tr>
          <th>Posts</td>
          <th>Followers</td>
          <th>Following</td>
        </tr>
        <tr>
          <td><%= this.model.posts().length %></td>
          <td><%= this.model.escape('num_followers') %></td>
          <td><%= this.model.escape('num_followees') %></td>
        </tr>
      </table>

      <section class="bio group">
        <section class="text-area-trigger group">
          <textarea disabled class="text-area" name="post[text]" rows="3" cols="38" value=""><%= user.escape('bio') %></textarea>
        </section>
      </section>

    </section>

    <div class="bottom group">
      <ul class="group">
      </ul>
    </div>


  </section>

</div>
