<section class='user-show-backdrop'>
  <section class="user-show group">

    <title><%= user.escape('username') %>s' Profile</title>

    <section class="user-show-top group">

      <section class="user-show-text">
        <strong><%= user.escape('username') %></strong>
        <br>
        Posts: <%= this.model.posts().length %>
        <br>
        Followers: <%= this.model.escape('num_followers') %>
        <br>
        Following: <%= this.model.escape('num_followees') %>
        <br>
      </section>

      <div class="user-options">
      </div>

    </section>

    <ul class='user-show-bottom group'>
    </ul>

  </section>
</section>
