<title><%= user.escape('username') %>'s' Profile</title>

<h1><strong><%= user.escape('username') %>'s Profile</strong></h1>

<br>
<label>
  Upload Profile Picture <br>
  <input id='input-picture-file' type='file' name='picture'>
</label>
<br><Br>
<input type="submit" value="Save!">

<!-- <img src="" id="picture-preview"> -->

<br><br>
Posts: <%= this.model.posts().length %>
<br>
Followers: <%= this.model.escape('num_followers') %>
<br>
Following: <%= this.model.escape('num_followees') %>
<br>






<div class=open_upload>
  <br><br>
  <button>Create New Post!</button>
</div>
<div class="upload_form">
</div>

<br><br>

<ul class="user_posts">
</ul>
