<div class="post-show-top-bar group">

    <div class="post-show-user">
      <a href="#/user/<%= post.author().escape('id') %>"><%= post.author().escape('username') %></a>
    </div>

    <div class="post-show-time">
      <%= post.escape('Time_Ago') %>
    </div>

</div>

<div class="post-show-image">

</div>

<div class="post-show-text">
  <a href="#/post/<%= post.id %>"><%= post.escape('text') %></a>
  <br>
  &hearts; <%= post.escape('num_likes') %> Likes
  <br>

  <% post.comments().each( function (comment) { %>
    <strong><%= comment.escape('author_name') %></strong> <%= comment.escape('body') %>
    <br>
  <%  }) %>

  <% if(post.escape('is_liked') === "true") { %>
    <button class="toggle_like"><strong> &hearts; Liked</strong></button>
  <%  } else { %>
    <button class="toggle_like">Like</button>
  <% } %>

  <button class="add_comment">Comment</button><br>
  <div class="comment"><br></div>
</div>
