<a href="#/user/<%= post.author().escape('id') %>"><%= post.author().escape('username') %></a> -
<%= post.escape('Time_Ago') %>
<br>
<a href="#/post/<%= post.id %>"><%= post.escape('text') %></a>
<br>
&hearts; <%= post.escape('num_likes') %> Likes
<br>

<% post.comments().each( function (comment) { %>
  <strong><%= comment.escape('author_name') %></strong> <%= comment.escape('body') %>
  <br>
<%  }) %>

<% if(post.escape('is_liked') === "true") { %>
  <button class="toggle_like"><strong> &hearts; Liked</strong></button>
<%  } else { %>
  <button class="toggle_like">Like</button>
<% } %>

<button class="add_comment">Comment</button><br>
