<div class="feed-item-top-bar group">
    <div class="feed-item-user">
      <a href="#/user/<%= post.author().escape('id') %>"><%= post.author().escape('username') %></a>
    </div>

    <div class="feed-item-time">
      <%= post.escape('Time_Ago') %> ago
    </div>
</div>

<div class="feed-item-image">
  <a href="#/post/<%= post.id %>"><img src="<%= post.attributes.picture_url %>" alt="ERROR"/></a>
</div>

<div class="feed-item-text">
  <% if(post.escape('text')) { %>
    <%= post.escape('text') %>
    <br>
  <% } %>

  <% if (post.escape('num_likes') > 0) { %>
    &hearts; <%= post.escape('num_likes') %> Likes
    <br>
  <% } %>

  <% post.comments().each( function (comment) { %>
    <a href="#user/<%= comment.attributes.author.id %>"><strong><%= comment.attributes.author.username %></strong></a> <%= comment.escape('body') %>
    <br>
  <%  }) %>

  <% if(post.escape('is_liked') === "true") { %>
    <button id='liked-button' class="toggle_like"><strong> &hearts; Liked</strong></button>
  <%  } else { %>
    <button class="toggle_like">Like</button>
  <% } %>

  <button class="add_comment">Comment</button><br>
  <div class="comment"><br></div>
</div>
