<div class="feed-item-top-bar group">

  <a href="#/user/<%= post.author().escape('id') %>">
    <div class="feed-item-user-img">
      <img src="<%= post.escape('author_thumb') %>" alt="" height="40" width="40"/>
    </div>
    <div class="feed-item-user">
      <%= post.author().escape('username') %>
    </div>
  </a>

  <div class="feed-item-time">
    <%= post.escape('Time_Ago') %> Ago
  </div>
</div>

<div class="feed-item-image">
  <div class="delete-post">DELETE POST</div>
  <a href="#/post/<%= post.id %>"><img src="<%= post.attributes.picture_url %>" alt="ERROR"/></a>
</div>

<section class="like-bar group"></section>

<section class="comments-bar group">

  <section class="toggled-section">

      <section class="caption group">
        <% if(post.escape('text')) { %>
          <a href="#user/<%= post.author().escape('id') %>"><strong><%= post.author().escape('username') %></strong></a>:
          <%= post.escape('text') %>
          <br>
        <% } %>
      </section>

    <section class="comment-list group"></section>

  </section>

  <section class="add-comment-section group"></section>

</section>
