<a href="#/user/<%= post.author().escape('id') %>"><%= post.author().escape('username') %></a>
<br>
<%= post.escape('Time_Ago') %>
<br>
<a href="#/post/<%= post.id %>"><%= post.escape('text') %></a>
<br><br>
