<title>Post Show</title>

<section class="post-show-item">

  <div class="post-show-top-bar group">

    <a href="#/user/<%= post.author().escape('id') %>">
      <div class="feed-item-user-img">
        <img src="<%= post.escape('author_thumb') %>" alt="" height="40" width="40" />
      </div>

      <div class="post-show-user">
        <%= post.author().escape('username') %>
      </div>
    </a>

    <div class="post-show-time">
      <%= post.escape('Time_Ago') %> Ago
    </div>

  </div>

  <div class="post-show-image">
    <a href="#/post/<%= post.id %>"><img src="<%= post.attributes.picture_url %>" alt="ERROR" height='510'/></a>
  </div>

  <section class="like-bar group">

    <section class="like-icon">
      <% if(post.escape('is_liked') === "true") { %>
        <a id='liked-icon' class="toggle_like"><i class="fa fa-heart"></i></a>
      <%  } else { %>
        <a id="unliked-icon" class="toggle_like"><i class="fa fa-heart"></i></a>
      <% } %>
    </section>

    <section class="like-count">
      <% if (post.escape('num_likes') == 1) { %>
        1 Like
      <% } else if (post.escape('num_likes') > 0) { %>
        <%= post.escape('num_likes') %> Likes
        <br>
      <% } %>
    </section>

  </section>

  <div class="post-show-text">
    <% if(post.escape('text')) { %>
      <strong><%= post.author().escape('username') %></strong>:
      <%= post.escape('text') %>
      <br>
    <% } %>

    <% post.comments().each( function (comment) { %>
      <a href="#user/<%= comment.attributes.author.id %>"><strong><%= comment.attributes.author.username %></strong></a> <%= comment.escape('body') %>
      <br>
    <%  }) %>

    <div class="user_options"></div>

  </div>

  <form class="comment-form">
    <input class="comment-submit" type="text" name="body" placeholder="Add a comment...">
  </form>

</section>
