<title>Sign Up! Vinstagram</title>

<div class="welcome">

  <div class="form-header">
    <div class="logo">Vinstagram</div>
  </div>
  <div class="form">

    <% if flash[:errors] %>
      <%= flash[:errors].join("<br>").html_safe %>
      <br><br>
    <% end %>

    <form action="<%= users_url %>" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <section class="sign-first">
        <label>Username:</label>
        <input tabindex="1" type="text" name="user[username]" value="<%= @user.username %>">
      </section>

      <section class="sign-nth">
        <label>Email:</label>
        <input tabindex="2" type="text" name="user[email]" value="<%= @user.email %>">
      </section>

      <section class="sign-nth">
        <label> Password:
        <input tabindex="3" type="password" name="user[password]" value="">
      </section>

      <section class="sign-nth">
        <label> Confirm Password:
        <input tabindex="4" type="password" name="user[password_confirmation]" value="">
      </section>

      <section class="sign-bottom group">
        <label>
          Already Registered? <br>
          <u><%= link_to "Sign In!", new_session_url %></u>
        </label>
        <input tabindex="5" type="submit" class="button" value="Sign Up!">
      </section>

    </form>
  </div>

  <div class="guest-login group">
    <div class="top-label">
      Don't want to create an account yet?
    </div>

    <label>
      Check out our guest account on our <u><%= link_to "login page", new_session_url %></u>
    </label>

    <br><br>

    <br>
    <div class="Or">
    </div>
    <br>

    <!-- <a href="/auth/facebook">Login with facebook</a> -->
  <div class="google-sign-in">
    <a href="/auth/google_oauth2" id="google-sign-in">
      <img src="https://developers.google.com/accounts/images/sign-in-with-google.png" alt="" />
    </a>
  </div>


  </div>



</div>
